@{
    ViewData["Title"] = "Privacy, but Make it Fun!";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<hr style="width: 100px; margin: 20px auto;" />

<p class="text-center">
    Welcome to the PaprBook—except it's not Paper.<br />
    This site may collect some basic data (like your email, IP, or cookie preferences) just to keep things running smoothly—no shady business, promise! 🕵️‍♂️<br />
    Now, about the code: it's open to explore, learn from, remix, and break (on purpose or not). Tinker with it, improve it, or even show it off in your portfolio.<br />
    <strong>Just one friendly ask:</strong> Please <u>don't use it for commercial purposes</u> without my permission. No selling, reselling, or launching your unicorn startup based on it (unless I've recieved a Pizza and a Coffee!!!').<br />
    Otherwise, go wild and have fun! 😄
</p>

<div style="text-align: center; font-size: 1.8rem; font-weight: bold; margin-top: 40px; color: #ff4081; font-family: 'Indie Flower', cursive;">
    Deploying this project was hard, but not as hard as pretending I didn’t hope you’d be impressed &#128521;.
</div>